.chart_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.chart-ctn {
    align-items: center;
    display: flex;
    width: 80%;
    height: 100%;
}